[General]
user		= crmlpatchtest@gmail.com
passwd		= mypass
repo		= /root/criu
report_to	= kupruser@gmail.com
prefix		= [CRIU]
timeout		= 5
signature	= ---\n CRIU mailing list patch tester.\n If you find any bugs or have any suggestions, feel free to contact my human Ruslan Kuprieiev <kupruser@gmail.com>.
debug		= False
